<div class="col-xxl-3">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3">Info</h5>
            <div class="table-responsive">
                <table class="table table-borderless mb-0">
                    <tbody>
                    <tr>
                        <th class="ps-0" scope="row">Full Name :</th>
                        <td class="text-muted">{{ user.getDisplayName }}</td>
                    </tr>
                    <tr>
                        <th class="ps-0" scope="row">Mobile :</th>
                        <td class="text-muted">+212 {{ user.getPhoneNumber }}</td>
                    </tr>
                    <tr>
                        <th class="ps-0" scope="row">E-mail :</th>
                        <td class="text-muted">{{ user.getEmail }}</td>
                    </tr>
                    <tr>
                        <th class="ps-0" scope="row">Classroom :</th>
                        <td class="text-muted">15 (Current)
                        </td>
                    </tr>
                    <tr>
                        <th class="ps-0" scope="row">Joining Date</th>
                        <td class="text-muted">24 Nov 2021</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- end card body -->
    </div><!-- end card -->
</div>
